html {
	height: 100vh;
	width: 100vw;
	margin: 0px;

	display: flex;
}

body {
	width: 98%;
	height: 98%;
	margin: auto;

	display: flex;
	flex-flow: column nowrap;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/*----------------------------------- MAP ---------------------------------------*/
#map {
	position: relative;
	width: 100%;
	flex: 6.5 6.5 65%;
	z-index: 0;
}

.popup{
	position: absolute;
	width: 200px;
	height: 200px;
	background-color: white;
	z-index: 1;
}

/*------------------------------- TEXT FIELD -------------------------------------*/
.landing {
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	z-index: 10;
	width: 100%;

	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;	
}

.content-loaded {

}

#logo {
	width: 200px;
	height: 200px;
}

#input-wrapper {
	display: flex;
	flex: 0 1 7.5%;
	flex-flow: row nowrap;
	position: relative;

	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	width: 90%;
	height: 60px;
	
	border-radius: 5px;
	border-width: 2px;
	border-style: solid;
}

#input-wrapper span.tag{
  cursor:pointer;
  display:block;
  float:left;
  color:#555;
  background:#add;
  padding:5px 10px;
  padding-right:30px;
  margin:4px;
  font-size: 25px;
}
#input-wrapper span.tag:hover{
  opacity:0.7;
}
#input-wrapper span.tag:after{
 position:absolute;
 content:"×";
 border:1px solid;
 border-radius:10px;
 padding:0 4px;
 margin:3px 0 10px 7px;
 font-size:10px;
}

#input-tags {
	margin: auto;
	margin-left: 0px;
	font-size: 30px;
	color: #808080;
}

#input {
	width: 100%;
	height: 85%;
	margin: auto;
	z-index: 10;

	font-size: 30px;
	background: transparent;

	text-align: left;
	border-width: 0px;
}

#input:focus {
	outline: none;
}

#input-magnifying {
	margin: auto;
	margin-right: 0px;
}

/*------------------------------- RESTRICTIONS -------------------------------------*/
#restrictions {
	display: none;
	flex: 3 3 30%;
	margin-top: 5px;
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;
}

/*wrapper to center absolutely positioned titled*/
#rst-title-wrapper {
	position: absolute;
	left: 50%;
}

#rst-title {
	position: relative;
	margin: auto;
	top: -20px;
	left: -50%;

	font-size: 30px;

	/*keep background non-transparent*/
	background-color: rgba(255, 255, 255, 1);
}

#rst-inner-wrapper {
	width: calc(100% - 10px * 2);
	height: calc(100% - 10px - 15px);
	margin: 10px;
	margin-top: 15px;

	display: flex;
	flex-flow: row nowrap;

	font-size: 20px;
}

#rst-spacer {
	width: 10px;
	height: 5px;
}

#rst-col1-wrapper {
	width: 50%;
	height: 100%;

	display: flex;
}

#rst-col1 {
	margin: auto;

	display: flex;
	flex-flow: column nowrap;
}

#rst-language {
	margin: 0px;
	margin-bottom: 5px;

	display: flex;
	flex-flow: row nowrap;
}

#rst-language-select {
	margin: auto;
	margin-right: 0px;
}

#rst-citizenship {
	margin: 0px;
	margin-bottom: 5px;

	display: flex;
	flex-flow: row nowrap;
}

#rst-citizenship-select {
	margin: auto;
	margin-right: 0px;
}

#rst-pets {
	margin: 0px;
	margin-bottom: 5px;

	display: flex;
	flex-flow: row nowrap;
}

#rst-pets-checkbox {
	margin: auto;
	margin-right: 0px;
}

#rst-kids {
	margin: 0px;

	display: flex;
	flex-flow: row nowrap;
}

#rst-kids-checkbox {
	margin: auto;
	margin-right: 0px;
}

#rst-col2-wrapper {
	width: 50%;
	height: 100%;

	display: flex;
}

#rst-col2 {
	margin: auto;

	display: flex;
	flex-flow: column nowrap;
}

#rst-price {
	margin: 0px;

	display: flex;
	flex-flow: column nowrap;
}

#rst-price-display {
	display: flex;
	flex-flow: row nowrap;
}

#rst-price-display-current {
	margin: auto;
	margin-right: 0px;
}

#rst-price-slider-wrapper {
	margin-top: 10px;
}

#rst-price-slider-label {
	display: flex;
	flex-flow: row nowrap;
}

#rst-price-slider-low {
	margin: auto;
	margin-left: 0px;
}

#rst-price-slider-high {
	margin: auto;
	margin-right: 0px;
}

.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 15px;
	border-radius: 5px;   
	background: #d3d3d3;
	outline: none;
	opacity: 0.7;
	-webkit-transition: .2s;
	transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 25px;
	height: 25px;
	border-radius: 50%; 
	background: #4CAF50;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	border-radius: 50%;
	background: #4CAF50;
	cursor: pointer;
}

/* Customize the label (the container) */
.container {
	display: block;
	position: relative;
	cursor: pointer;
	font-size: 22px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	height: 25px;
	width: 25px;
}

/* Hide the browser's default checkbox */
.container input {
	position: absolute;
	opacity: 0;
	cursor: pointer;
}

/* Create a custom checkbox */
.checkmark {
	position: absolute;
	top: 0;
	left: 0;
	height: 25px;
	width: 25px;
	background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
	background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
	background-color: #2196F3;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
	content: "";
	position: absolute;
	display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
	display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
	left: 9px;
	top: 5px;
	width: 5px;
	height: 10px;
	border: solid white;
	border-width: 0 3px 3px 0;
	-webkit-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}