.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 15px;
    border-radius: 5px;   
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #4CAF50;
    cursor: pointer;
}

html {
	height: 100vh;
	width: 100vw;
	margin: 0px;

	display: flex;
}

body {
	width: 98%;
	height: 98%;
	margin: auto;

	display: flex;
	flex-flow: column nowrap;

	font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#map {
	width: 100%;
	flex: 6.5 6.5 65%;
}

#input {
	width: calc(100% - 10px - 10px);
	flex: 0.5 0.5 5%;
	margin-top: 15px;
	margin-bottom: 15px;
	padding-left: 10px;
	padding-right: 10px;
	
	border-radius: 5px;
	border-width: 2px;

	font-size: 40px;
	text-align: left;
}

#restrictions {
	width: 100%;
	flex: 3 3 30%;
	margin-top: 5px;
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;
}

/*wrapper to center absolutely positioned titled*/
#rst-title-wrapper {
	position: absolute;
	left: 50%;
}

#rst-title {
	position: relative;
	margin: auto;
	top: -20px;
	left: -50%;

	font-size: 30px;

	/*keep background non-transparent*/
	background-color: rgba(255, 255, 255, 1);
}

#rst-inner-wrapper {
	width: calc(100% - 10px * 2);
	height: calc(100% - 10px - 15px);
	margin: 10px;
	margin-top: 15px;

	display: flex;
	flex-flow: row nowrap;

	font-size: 20px;
}

#rst-spacer {
	width: 10px;
	height: 5px;
}

#rst-col1-wrapper {
	width: 50%;
	height: 100%;

	display: flex;
}

#rst-col1 {
	margin: auto;

	display: flex;
	flex-flow: column nowrap;
}

#rst-language {
	margin: 0px;
	margin-bottom: 5px;

	display: flex;
	flex-flow: row nowrap;
}

#rst-language-select {
	margin: auto;
	margin-right: 0px;
}

#rst-citizenship {
	margin: 0px;
	margin-bottom: 5px;

	display: flex;
	flex-flow: row nowrap;
}

#rst-citizenship-select {
	margin: auto;
	margin-right: 0px;
}

#rst-pets {
	margin: 0px;
	margin-bottom: 5px;

	display: flex;
	flex-flow: row nowrap;
}

#rst-pets-checkbox {
	margin: auto;
	margin-right: 0px;
}

#rst-kids {
	margin: 0px;

	display: flex;
	flex-flow: row nowrap;
}

#rst-kids-checkbox {
	margin: auto;
	margin-right: 0px;
}

#rst-col2-wrapper {
	width: 50%;
	height: 100%;

	display: flex;
}

#rst-col2 {
	margin: auto;

	display: flex;
	flex-flow: column nowrap;
}

#rst-price {
	margin: 0px;

	display: flex;
	flex-flow: column nowrap;
}

#rst-price-display {
	display: flex;
	flex-flow: row nowrap;
}

#rst-price-display-current {
	margin: auto;
	margin-right: 0px;
}

#rst-price-slider-wrapper {
	margin-top: 10px;
}

#rst-price-slider-label {
	display: flex;
	flex-flow: row nowrap;
}

#rst-price-slider-low {
	margin: auto;
	margin-left: 0px;
}

#rst-price-slider-high {
	margin: auto;
	margin-right: 0px;
}