/*------------------------------- PREFERENCES -------------------------------------*/
#pref {
	height: 100%;
	width: calc(80% - 7px);
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;

	margin-right: 7px;
	/*overflow-x: scroll;*/
}

/*wrapper to center absolutely positioned titled*/
#pref-title-wrapper {
	/*z-index: 0;*/
	position: absolute;
	left: calc((70% - 7px)/2);;
}

#pref-title {
/*	position: relative;
	margin: auto;
	top: -17px;
	left: -50%;

	font-size: 30px;*/

	/*keep background non-transparent*/
	/*background-color: rgba(255, 255, 255, 1);*/
}

#pref-inner-wrapper {
	width: calc(100% - 10px * 2);
	height: calc(100% - 10px - 15px);
	margin: 10px;
	margin-top: 15px;

	display: flex;
	flex-flow: row nowrap;

	font-size: 20px;
}

#pref-spacer {
	width: 10px;
	height: 5px;
}


#pref-col1-wrapper {
	width: 45%;
	height: 100%;

	display: flex;
}

#pref-col1 {
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
}


#pref-language {
	margin: 0px;
	margin-bottom: 30px;

	display: flex;
	flex-flow: row wrap;
}

#pref-language-select {
	margin: auto;
	/*margin-right: 0px;*/
}

#pref-location {
	display: flex;
	flex-flow: row wrap;
}
/*#pref-location button{
	background-color: #8eb9ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 10px;
}

#pref-location button:hover{
	background-color: #0042ad;
}

#pref-location button.clicked{
	background-color: #0042ad ;
}*/


#pref-col2-wrapper {
	width: 55%;
	height: 100%;
	display: flex;
}

#pref-col2 {
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
	justify-content: flex-end;
}

#pref-duration{
	margin-bottom: 30px;
}

#tripDuration{
	width: 50px;
}

#pref-price {
	margin: 0px;

	display: flex;
	flex-flow: row nowrap;
}

#pref-price-select{
	margin: auto;
}

/*#pref-price button{
	background-color: #8eb9ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 50%;
}
#pref-price button:hover{
	background-color: #0042ad;
}
#pref-price button.clicked{
	background-color: #0042ad;
}

#pref-price-display {
	display: flex;
	flex-flow: row nowrap;
}

#pref-price-display-current {
	margin: auto;
	margin-right: 0px;
}

#pref-price-slider-wrapper {
	margin-top: 10px;
}

#pref-price-slider-label {
	display: flex;
	flex-flow: row nowrap;
}

#pref-price-slider-low {
	margin: auto;
	margin-left: 0px;
}

#pref-price-slider-high {
	margin: auto;
	margin-right: 0px;
}
*/
/*#pref-season {
	margin: 0px;

	display: flex;
	flex-flow: row nowrap;
}

#pref-season button{
	background-color: #8eb9ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 10px;
}

#pref-season button:hover{
	background-color: #0042ad;
}
#pref-season button.clicked{
	background-color: #0042ad;
}*/
