@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro');

html {
	height: 100vh;
	width: 100vw;
	margin: 0px;
	display: flex;
	overflow: hidden;
}

body {
	width: 98%;
	height: 98%;
	margin: auto;

	display: flex;
	flex-flow: column nowrap;

	font-family: 'Source Sans Pro', sans-serif !important;
}