/*------------------------------- PREFERENCES -------------------------------------*/
#pref {
	flex: 2 2 20%;
	width: 80%;

	margin-top: 5px;
	border-width: 2px;
	border-radius: 5px;
	border-style: solid;

	order: 4;
	display: flex;

	opacity: 1;
	transform: scaleY(1);
	
	transition-property: all;
	transition-duration: 1s;
	transition-timing-function: linear;
}

/*wrapper to center absolutely positioned titled*/
#pref-title-wrapper {
	position: absolute;
	left: 50%;
}

#pref-title {
	position: relative;
	margin: auto;
	top: -20px;
	left: -50%;

	font-size: 30px;

	/*keep background non-transparent*/
	background-color: rgba(255, 255, 255, 1);
}

#pref-inner-wrapper {
	width: calc(100% - 10px * 2);
	height: calc(100% - 10px - 15px);
	margin: 10px;
	margin-top: 15px;

	display: flex;
	flex-flow: row nowrap;

	font-size: 20px;
}

#pref-spacer {
	width: 10px;
	height: 5px;
}


#pref-col1-wrapper {
	width: 45%;
	height: 100%;

	display: flex;
}

#pref-col1 {
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
}


#pref-language {
	margin: 0px;
	margin-bottom: 5px;

	display: flex;
	flex-flow: row nowrap;
	z-index: 6;
}

#pref-language-select {
	margin: auto;
	/*margin-right: 0px;*/
}

/*#pref-location button{
	background-color: #8eb9ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 10px;
}

#pref-location button:hover{
	background-color: #0042ad;
}

#pref-location button.clicked{
	background-color: #0042ad ;
}*/

#pref-citizenship {
	margin: 0px;
	margin-bottom: 5px;

	display: flex;
	flex-flow: row nowrap;
}

#pref-citizenship-select {
	margin: auto;
	margin-right: 0px;
}

#pref-pets {
	margin: 0px;
	margin-bottom: 5px;

	display: flex;
	flex-flow: row nowrap;
}

#pref-pets-checkbox {
	margin: auto;
	margin-right: 0px;
}

#pref-kids {
	margin: 0px;

	display: flex;
	flex-flow: row nowrap;
}

#pref-kids-checkbox {
	margin: auto;
	margin-right: 0px;
}

#pref-col2-wrapper {
	width: 55%;
	height: 100%;
	display: flex;
}

#pref-col2 {
	margin: auto;
	display: flex;
	flex-flow: column nowrap;
}

#pref-price {
	margin: 0px;

	display: flex;
	flex-flow: row nowrap;
}

#pref-price button{
	background-color: #8eb9ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 50%;
}
#pref-price button:hover{
	background-color: #0042ad;
}
#pref-price button.clicked{
	background-color: #0042ad;
}

#pref-price-display {
	display: flex;
	flex-flow: row nowrap;
}

#pref-price-display-current {
	margin: auto;
	margin-right: 0px;
}

#pref-price-slider-wrapper {
	margin-top: 10px;
}

#pref-price-slider-label {
	display: flex;
	flex-flow: row nowrap;
}

#pref-price-slider-low {
	margin: auto;
	margin-left: 0px;
}

#pref-price-slider-high {
	margin: auto;
	margin-right: 0px;
}

#pref-season {
	margin: 0px;

	display: flex;
	flex-flow: row nowrap;
}

#pref-season button{
	background-color: #8eb9ff;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 5px;
    cursor: pointer;
    border-radius: 10px;
}

#pref-season button:hover{
	background-color: #0042ad;
}
#pref-season button.clicked{
	background-color: #0042ad;
}
